.App {
  padding-top: 2%;
  text-align: center;
}

.SearchForm {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
}

.MoviesList-item {
  margin-bottom: 5%;
  width: 45%;
}